# Google Maps API Key
# Obtenha em: https://console.cloud.google.com/google/maps-apis/credentials
VITE_GOOGLE_MAPS_API_KEY=

# Firebase Configuration
# Obtenha em: Console do Firebase > Configurações do Projeto > Seus Aplicativos (Web App)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
